{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="col-md-12">
        <div class="form-horizontal templatemo-contact-form-1" >
            {% csrf_token %}
            <div class="form-group">
                <div class="col-md-12">
                    <h1 class="margin-bottom-15">Notes</h1>
                     <h2>Don't Have Permission!</h2>
                    <h2><a href="/accounts/login">Back Login !</a></h2>
                </div>
            </div>
          </div>
    </div>
{% endblock %}

