<!DOCTYPE html>
<head>
	<title>Sense6 | 新数据环境下, 重庆市主城九区城市单元的动态测度及决策支持系统方案</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load staticfiles %}
    <script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "csrf.js" %}"></script>
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">
    <link href="{% static "css/templatemo_style.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body class="templatemo-bg-image-1">
	    <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
				<div class="container">
                    {% block content %}
                    Use this template get you up and running with django-users2.
                    {% endblock content %}
				</div>
			</div>
		</div>
     <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>