{% extends "common.html" %}
{% load staticfiles %}
{% block js1 %}
     <script type="text/javascript" src="{% static "lib/jquery-1.7.2.min.js" %}"></script>
{% endblock js1 %}

{% block content %}
        <div class="row-fluid">
            <div class="block">
                 <div id="zonghe-chart" style="height:700px"></div>
            </div>
        </div>
{% endblock %}

{% block js2 %}
    <script src="https://cdn.bootcss.com/echarts/4.0.2/echarts.js"></script>
    <!--引入百度地图的jssdk，这里需要使用你在百度地图开发者平台申请的 ak-->
    <script src="http://api.map.baidu.com/api?v=2.0&ak=POmIsM2L2GTGIM3TMlKpcBKRmHTKx1PW"></script>
    <!-- 引入百度地图扩展 -->
    <script type="text/javascript" src="{% static "data/extension/bmap.min.js" %}"></script>
    <script type="text/javascript">
        $.get('/static/data/map/json/province/chongqing9.json', function (geoJson) {
        echarts.registerMap('chongqing9', geoJson);
        var chart = echarts.init(document.getElementById('zonghe-chart'));
        var geoCoordMap = {
            '金凤镇':[106.3196, 29.5242],
            '复盛镇':[106.7992, 29.6503],
            '玉峰山镇':[106.6742, 29.669],
            '东阳镇':[106.4562, 29.8409],
            '七星岗街道':[106.5732, 29.5597],
            '解放碑街道':[106.5874, 29.563],
            '望龙门街道':[106.5899, 29.5604],
            '海棠溪街道':[106.5946, 29.549],
            '南坪街道':[106.5762, 29.5365],
            '南纪门街道':[106.5764, 29.5578],
            '九龙镇':[106.5164, 29.5182],
            '弹子石街道':[106.5967, 29.5882],
            '中河镇':[106.7273, 30.0383],
            '石板镇':[106.368, 29.4307],
            '二圣镇':[106.7847, 29.4713],
            '丰盛镇':[106.9407, 29.5344],
            '永庆镇':[106.7455, 29.9393],
            '龙溪街道':[106.5237, 29.5964],
            '青木关镇':[106.318, 29.681],
            '姜家镇':[106.8283, 29.3954],
            '虎溪镇':[106.3168, 29.6042],
            '西彭镇':[106.3401, 29.3046],
            '大竹林镇':[106.4861, 29.6326],
            '蔡家岗镇':[106.4782, 29.7377],
            '陈家桥街道':[106.3435, 29.6213],
            '李家沱街道':[106.5631, 29.466],
            '木洞镇':[106.845, 29.5792],
            '童家溪镇':[106.4577, 29.6887],
            '广阳镇':[106.7824, 29.5997],
            '舒家镇':[106.8304, 29.7104],
            '回兴街道':[106.6157, 29.6824],
            '詹家溪街道':[106.4535, 29.6094],
            '悦来镇':[106.5486, 29.7365],
            '安澜镇':[106.5895, 29.2569],
            '高嘴镇':[106.7979, 29.9217],
            '双河口镇':[106.9257, 29.6212],
            '关兴镇':[106.7789, 29.7695],
            '跳石镇':[106.6571, 29.2786],
            '回龙坝镇':[106.3894, 29.711],
            '五宝镇':[106.8627, 29.6341],
            '北温泉镇':[106.4325, 29.8361],
            '大盛镇':[106.909, 29.895],
            '偏岩镇':[106.6652, 30.0104],
            '鱼嘴镇':[106.7677, 29.6287],
            '柳荫镇':[106.6131, 29.9618],
            '沙坪镇':[106.6709, 29.7339],
            '石鞋镇':[106.697, 29.8475],
            '凤凰镇':[106.322, 29.6915],
            '龙安乡':[106.8695, 29.9032],
            '巴福镇':[106.3378, 29.4184],
            '陶家镇':[106.3531, 29.3671],
            '大石坝街道':[106.5001, 29.5765],
            '渝州路街道':[106.4954, 29.5416],
            '沙坪坝街道':[106.4686, 29.5717],
            '小龙坎街道':[106.4749, 29.56],
            '土湾街道':[106.4789, 29.5601],
            '联芳花园街道':[106.4805, 29.5517],
            '石桥铺街道':[106.4905, 29.5349],
            '磁器口街道':[106.4629, 29.581],
            '歌乐山街道':[106.4249, 29.5741],
            '渝碚路街道':[106.4654, 29.564],
            '覃家岗街道':[106.4619, 29.5494],
            '天星桥街道':[106.4646, 29.5545],
            '石桥铺街道':[106.4773, 29.5239],
            '新桥街道':[106.4486, 29.5238],
            '山洞街道':[106.4295, 29.5187],
            '歌乐山镇':[106.4249, 29.5741],
            '石坪桥街道':[106.5099, 29.5236],
            '两路口街道':[106.5559, 29.558],
            '铜元局街道':[106.5516, 29.535],
            '谢家湾街道':[106.5266, 29.5268],
            '杨家坪街道':[106.5287, 29.5127],
            '大坪街道':[106.5226, 29.5445],
            '石油路街道':[106.5165, 29.5413],
            '上清寺街道':[106.5532, 29.5673],
            '观音桥街道':[106.5519, 29.5876],
            '华新街街道':[106.5434, 29.5743],
            '大溪沟街道':[106.5662, 29.5689],
            '花园路街道':[106.567, 29.5254],
            '涂山镇':[106.6078, 29.5838],
            '南山街道':[106.6119, 29.5461],
            '江北城街道':[106.5759, 29.5878],
            '南坪镇':[106.578, 29.5319],
            '龙门浩街道':[106.6009, 29.5585],
            '鸳鸯街道':[106.5663, 29.672],
            '鸡冠石镇':[106.6195, 29.6003],
            '寸滩街道':[106.5792, 29.6112],
            '龙塔街道':[106.5384, 29.6104],
            '人和街道':[106.5437, 29.633],
            '天宫殿街道':[106.5635, 29.6098],
            '石滩镇':[106.8876, 29.1917],
            '澄江镇':[106.3946, 29.877],
            '白岩乡':[106.9474, 29.8879],
            '礼嘉街道':[106.503, 29.6843],
            '东温泉镇':[106.8639, 29.4621],
            '水土镇':[106.5084, 29.7891],
            '铜罐驿镇':[106.3926, 29.3018],
            '翠云街道':[106.5895, 29.6889],
            '悦来街道':[106.5459, 29.7355],
            '石马河街道':[106.4909, 29.5898],
            '龙山街道':[106.4992, 29.596],
            '詹家溪街道':[106.456, 29.6138],
            '大竹林街道':[106.4835, 29.6297],
            '井口镇':[106.4496, 29.6433],
            '中梁镇':[106.4197, 29.6465],
            '黄桷坪街道':[106.5504, 29.494],
            '南泉街道':[106.619, 29.4527],
            '花溪街道':[106.533, 29.4647],
            '张关镇':[106.9248, 29.7697],
            '石坝镇':[106.6513, 29.9389],
            '天府镇':[106.5051, 29.869],
            '明月镇':[106.9015, 29.9456],
            '铁山坪街道':[106.6677, 29.6134],
            '一品街道':[106.573, 29.291],
            '中梁山街道':[106.4506, 29.4668],
            '静观镇':[106.5767, 29.9015],
            '天堡寨镇':[106.7574, 29.6853],
            '北温泉街道':[106.4284, 29.8381],
            '龙凤桥街道':[106.4421, 29.8212],
            '天生街道':[106.4423, 29.8311],
            '东阳街道':[106.4573, 29.8389],
            '走马镇':[106.2949, 29.4636],
            '春晖路街道':[106.4892, 29.4817],
            '朝天门街道':[106.5931, 29.5684],
            '石龙镇':[106.8985, 29.2871],
            '古路镇':[106.7733, 29.856],
            '三圣镇':[106.6327, 29.8992],
            '兴隆镇':[106.7146, 29.8932],
            '龙兴镇':[106.8019, 29.702],
            '洛碛镇':[106.9412, 29.7401],
            '土主镇':[106.3783, 29.6376],
            '石坪镇':[106.6746, 29.6694],
            '黄印乡':[106.895, 29.9687],
            '郭家沱街道':[106.6878, 29.5799],
            '峡口镇':[106.6753, 29.5682],
            '迎龙镇':[106.7179, 29.526],
            '长生桥镇':[106.6755, 29.51],
            '化龙桥街道':[106.5316, 29.555],
            '歇马镇':[106.3757, 29.7711],
            '陈家桥镇':[106.3443, 29.6214],
            '含谷镇':[106.3772, 29.5244],
            '复兴镇':[106.5682, 29.8192],
            '接龙镇':[106.798, 29.2496],
            '一品镇':[106.5735, 29.2866],
            '曾家镇':[106.308, 29.5582],
            '五里店街道':[106.5639, 29.5838],
            '井口镇街道':[106.4496, 29.6433],
            '南彭镇':[106.6604, 29.3491],
            '跃进村街道':[106.5017, 29.4933],
            '麻柳嘴镇':[106.9484, 29.7003],
            '双凤桥街道':[106.6385, 29.7402],
            '两路街道':[106.6345, 29.7254],
            '金刀峡镇':[106.6631, 30.0054],
            '茨竹镇':[106.749, 29.9888],
            '大湾镇':[106.831, 30.0226],
            '麻柳沱镇':[106.892, 29.8133],
            '西永街道':[106.3837, 29.6033],
            '天星寺镇':[106.7725, 29.3542],
            '王家镇':[106.7066, 29.7778],
            '惠民镇':[106.7162, 29.4653],
            '华秦乡':[106.709, 30.0707],
            '跳磴镇':[106.4388, 29.4086],
            '朝阳街道':[106.4411, 29.8376],
            '惠民街道':[106.7142, 29.464],
            '南彭街道':[106.6613, 29.3494],
            '施家梁镇':[106.4837, 29.7911],
            '龙凤桥镇':[106.4414, 29.8198],
            '王家街道':[106.7044, 29.7752],
            '统景镇':[106.8511, 29.8553],
            '石船镇':[106.8341, 29.7695],
            '木耳镇':[106.6525, 29.8075],
            '双龙湖街道':[106.6329, 29.718],
            '龙洲湾街道':[106.5494, 29.4076],
            '界石镇':[106.6166, 29.3895],
            '新山村街道':[106.4928, 29.4885],
            '八桥镇':[106.4891, 29.4816],
            '九宫庙街道':[106.4901, 29.4825],
            '春晖路街道':[106.4792, 29.4613],
            '茄子溪街道':[106.5026, 29.4335],
            '华岩镇':[106.4506, 29.4668],
            '白市驿镇':[106.374, 29.4943],
            '渔洞街道':[106.524, 29.3856],
            '建胜镇':[106.5035, 29.4343]
                }

        var convertData = function (data) {
            var res = [];
            for (var i = 0; i < data.length; i++) {
                var geoCoord = geoCoordMap[data[i].name];
                if (geoCoord) {
                    res.push({
                        name: data[i].name,
                        value: geoCoord.concat(data[i].value)
                    });
                }
            }
            return res;
        };

        var option = {
            title: {
                text: '重庆主城九区综合评价',
                subtext: '数据由shense6提供',
                x:'center',
                textStyle: {
                    color: '#fff'
                }
            },
            tooltip: {
                trigger: 'item',
                formatter: function (params) {
                    return params.name + ' : ' + params.value[2];
                }
            },
            legend: {
                orient: 'vertical',
                y: 'bottom',
                x:'right',
                data:['乡镇及评价分数'],
                textStyle: {
                    color: '#fff'
                }
            },
            visualMap: {
                min: 0,
                max: 5,
                calculable: true,
                inRange: {
                    color: ['#50a3ba', '#eac736', '#d94e5d']
                },
                textStyle: {
                    color: '#fff'
                }
            },
            geo: {
                map: 'chongqing9',
                hoverable: false, //鼠标经过高亮
                itemStyle: {
                    normal: {
                        borderColor:'rgba(100,149,237,1)',
                        areaColor: '#1b1b1b',
                        label: {
                            show: true,
                            textStyle: {
                                color: 'red'
                            }
                        },
                    },
                    emphasis: {
                        areaColor: '#1b1b1b'
                    }
                }
            },
            series: [
                {
                    name: '乡镇及评价分数',
                    type: 'scatter',
                    coordinateSystem: 'geo',
                    data: convertData([
                        {name : '金凤镇', value : 0.8275},
                        {name : '复盛镇', value : 2.659},
                        {name : '玉峰山镇', value : 4.0359},
                        {name : '东阳镇', value : 3.977},
                        {name : '七星岗街道', value : 0.1636},
                        {name : '解放碑街道', value : 0.762},
                        {name : '望龙门街道', value : 0.8703},
                        {name : '海棠溪街道', value : 1.3918},
                        {name : '南坪街道', value : 0.44},
                        {name : '南纪门街道', value : 2.3977},
                        {name : '九龙镇', value : 0.7784},
                        {name : '弹子石街道', value : 3.698},
                        {name : '中河镇', value : 2.1966},
                        {name : '石板镇', value : 1.838},
                        {name : '二圣镇', value : 3.1416},
                        {name : '丰盛镇', value : 4.6147},
                        {name : '永庆镇', value : 3.0701},
                        {name : '龙溪街道', value : 4.5398},
                        {name : '青木关镇', value : 0.6882},
                        {name : '姜家镇', value : 2.0701},
                        {name : '虎溪镇', value : 1.2594},
                        {name : '西彭镇', value : 2.6041},
                        {name : '大竹林镇', value : 3.8891},
                        {name : '蔡家岗镇', value : 3.5906},
                        {name : '陈家桥街道', value : 2.6312},
                        {name : '李家沱街道', value : 1.4595},
                        {name : '木洞镇', value : 3.3947},
                        {name : '童家溪镇', value : 0.3718},
                        {name : '广阳镇', value : 1.9989},
                        {name : '舒家镇', value : 0.8719},
                        {name : '回兴街道', value : 1.3394},
                        {name : '詹家溪街道', value : 0.0291},
                        {name : '悦来镇', value : 3.1651},
                        {name : '安澜镇', value : 3.8936},
                        {name : '高嘴镇', value : 0.5831},
                        {name : '双河口镇', value : 1.3645},
                        {name : '关兴镇', value : 1.3524},
                        {name : '跳石镇', value : 1.5817},
                        {name : '回龙坝镇', value : 3.1445},
                        {name : '五宝镇', value : 2.4465},
                        {name : '北温泉镇', value : 3.6979},
                        {name : '大盛镇', value : 4.3414},
                        {name : '偏岩镇', value : 3.7778},
                        {name : '鱼嘴镇', value : 0.7261},
                        {name : '柳荫镇', value : 0.2101},
                        {name : '沙坪镇', value : 3.7518},
                        {name : '石鞋镇', value : 0.4177},
                        {name : '凤凰镇', value : 3.2938},
                        {name : '龙安乡', value : 3.6621},
                        {name : '巴福镇', value : 4.4958},
                        {name : '陶家镇', value : 4.1049},
                        {name : '大石坝街道', value : 4.933},
                        {name : '渝州路街道', value : 0.9536},
                        {name : '沙坪坝街道', value : 4.4851},
                        {name : '小龙坎街道', value : 2.4348},
                        {name : '土湾街道', value : 1.7173},
                        {name : '联芳花园街道', value : 4.1201},
                        {name : '石桥铺街道', value : 0.8811},
                        {name : '磁器口街道', value : 2.4314},
                        {name : '歌乐山街道', value : 1.7899},
                        {name : '渝碚路街道', value : 4.3207},
                        {name : '覃家岗街道', value : 2.2707},
                        {name : '天星桥街道', value : 2.1725},
                        {name : '石桥铺街道', value : 4.9112},
                        {name : '新桥街道', value : 2.2383},
                        {name : '山洞街道', value : 2.7031},
                        {name : '歌乐山镇', value : 0.579},
                        {name : '石坪桥街道', value : 3.9164},
                        {name : '两路口街道', value : 4.4283},
                        {name : '铜元局街道', value : 5.0},
                        {name : '谢家湾街道', value : 4.533},
                        {name : '杨家坪街道', value : 0.7977},
                        {name : '大坪街道', value : 4.0554},
                        {name : '石油路街道', value : 2.7903},
                        {name : '上清寺街道', value : 0.6318},
                        {name : '观音桥街道', value : 0.66},
                        {name : '华新街街道', value : 4.3569},
                        {name : '大溪沟街道', value : 2.3807},
                        {name : '花园路街道', value : 1.6745},
                        {name : '涂山镇', value : 3.0882},
                        {name : '南山街道', value : 1.126},
                        {name : '江北城街道', value : 4.1584},
                        {name : '南坪镇', value : 2.238},
                        {name : '龙门浩街道', value : 1.5021},
                        {name : '鸳鸯街道', value : 3.3716},
                        {name : '鸡冠石镇', value : 1.8007},
                        {name : '寸滩街道', value : 3.9887},
                        {name : '龙塔街道', value : 3.8438},
                        {name : '人和街道', value : 3.1678},
                        {name : '天宫殿街道', value : 4.4309},
                        {name : '石滩镇', value : 3.972},
                        {name : '澄江镇', value : 2.7114},
                        {name : '白岩乡', value : 3.108},
                        {name : '礼嘉街道', value : 0.6332},
                        {name : '东温泉镇', value : 2.1522},
                        {name : '水土镇', value : 2.7188},
                        {name : '铜罐驿镇', value : 3.1616},
                        {name : '翠云街道', value : 3.0323},
                        {name : '悦来街道', value : 0.0},
                        {name : '石马河街道', value : 4.4428},
                        {name : '龙山街道', value : 2.9453},
                        {name : '詹家溪街道', value : 4.4759},
                        {name : '大竹林街道', value : 2.2562},
                        {name : '井口镇', value : 1.0462},
                        {name : '中梁镇', value : 4.8721},
                        {name : '黄桷坪街道', value : 2.0632},
                        {name : '南泉街道', value : 0.1916},
                        {name : '花溪街道', value : 4.368},
                        {name : '张关镇', value : 3.3857},
                        {name : '石坝镇', value : 4.213},
                        {name : '天府镇', value : 2.1004},
                        {name : '明月镇', value : 0.4914},
                        {name : '铁山坪街道', value : 2.8401},
                        {name : '一品街道', value : 3.5036},
                        {name : '中梁山街道', value : 2.0757},
                        {name : '静观镇', value : 2.4062},
                        {name : '天堡寨镇', value : 1.287},
                        {name : '北温泉街道', value : 2.1793},
                        {name : '龙凤桥街道', value : 2.559},
                        {name : '天生街道', value : 0.1816},
                        {name : '东阳街道', value : 1.8393},
                        {name : '走马镇', value : 2.9594},
                        {name : '春晖路街道', value : 3.4938},
                        {name : '朝天门街道', value : 0.788},
                        {name : '石龙镇', value : 3.2581},
                        {name : '古路镇', value : 3.9921},
                        {name : '三圣镇', value : 0.4236},
                        {name : '兴隆镇', value : 2.2851},
                        {name : '龙兴镇', value : 4.2132},
                        {name : '洛碛镇', value : 1.2907},
                        {name : '土主镇', value : 3.2068},
                        {name : '石坪镇', value : 1.5464},
                        {name : '黄印乡', value : 4.944},
                        {name : '郭家沱街道', value : 2.9606},
                        {name : '峡口镇', value : 1.147},
                        {name : '迎龙镇', value : 4.7024},
                        {name : '长生桥镇', value : 2.3131},
                        {name : '化龙桥街道', value : 3.9396},
                        {name : '歇马镇', value : 1.9098},
                        {name : '陈家桥镇', value : 0.2713},
                        {name : '含谷镇', value : 3.7415},
                        {name : '复兴镇', value : 2.5168},
                        {name : '接龙镇', value : 4.5476},
                        {name : '一品镇', value : 3.3301},
                        {name : '曾家镇', value : 0.1638},
                        {name : '五里店街道', value : 0.4012},
                        {name : '井口镇街道', value : 3.9617},
                        {name : '南彭镇', value : 3.6131},
                        {name : '跃进村街道', value : 0.4609},
                        {name : '麻柳嘴镇', value : 0.3956},
                        {name : '双凤桥街道', value : 1.7579},
                        {name : '两路街道', value : 0.5447},
                        {name : '金刀峡镇', value : 2.9149},
                        {name : '茨竹镇', value : 4.495},
                        {name : '大湾镇', value : 2.2343},
                        {name : '麻柳沱镇', value : 2.413},
                        {name : '西永街道', value : 4.3729},
                        {name : '天星寺镇', value : 1.4181},
                        {name : '王家镇', value : 1.8329},
                        {name : '惠民镇', value : 2.2104},
                        {name : '华秦乡', value : 0.9758},
                        {name : '跳磴镇', value : 1.7806},
                        {name : '朝阳街道', value : 3.7272},
                        {name : '惠民街道', value : 4.2659},
                        {name : '南彭街道', value : 1.9931},
                        {name : '施家梁镇', value : 3.1665},
                        {name : '龙凤桥镇', value : 2.0266},
                        {name : '王家街道', value : 2.1944},
                        {name : '统景镇', value : 3.1307},
                        {name : '石船镇', value : 4.696},
                        {name : '木耳镇', value : 1.5972},
                        {name : '双龙湖街道', value : 4.351},
                        {name : '龙洲湾街道', value : 3.2211},
                        {name : '界石镇', value : 2.9869},
                        {name : '新山村街道', value : 4.1988},
                        {name : '八桥镇', value : 0.542},
                        {name : '九宫庙街道', value : 3.7425},
                        {name : '春晖路街道', value : 2.9199},
                        {name : '茄子溪街道', value : 2.9687},
                        {name : '华岩镇', value : 4.8441},
                        {name : '白市驿镇', value : 0.8158},
                        {name : '渔洞街道', value : 3.7394},
                        {name : '建胜镇', value : 3.4517}
                    ]),
                    symbolSize: 12,
                    label: {
                        normal: {
                            show: false
                        },
                        emphasis: {
                            show: false
                        }
                    },
                    itemStyle: {
                        emphasis: {
                            show: 'false',
                            borderColor: '#fff',
                            borderWidth: 1
                        }
                    }
                }
            ]
        }
        chart.setOption(option);
    });
    </script>
{% endblock js2 %}
