<!DOCTYPE html>
<head>
	<title>Login Two</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load staticfiles %}
    <script language="javascript" type="text/javascript">
        var i = 3;
        var intervalid;
        intervalid = setInterval("fun()", 1000);
            function fun() {
            if (i == 0) {
                window.location.href = "/";
                clearInterval(intervalid);
            }
            document.getElementById("mes").innerHTML = i;
            i--;
    }
    </script>
    <script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}"></script>
    <script src="{% static "csrf.js" %}"></script>
    <link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">
    <link href="{% static "css/templatemo_style.css" %}" rel="stylesheet">
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>
<body class="templatemo-bg-image-1">
	    <!-- Top content -->
        <div class="top-content">
            <div class="inner-bg">
				<div class="container">
                    <div class="col-md-12">
                        <div class="form-horizontal templatemo-contact-form-1" >
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="col-md-12">
                                    <h1 class="margin-bottom-15">Notes</h1>
                                     <h2>Password changed<p>将在 <span id="mes">3</span> 秒钟后返回首页！</p> </h2>
                                </div>
                            </div>
                          </div>
                    </div>
				</div>
			</div>
		</div>
	 <script type="text/javascript" src="{% static "js/jquery-1.11.3.min.js" %}"></script>
     <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
</body>
</html>


