{% extends "base.html" %}
{% load i18n %}

{% block content %}
    <div class="col-md-12">
        <div class="form-horizontal templatemo-contact-form-1" >
            {% csrf_token %}
            <div class="form-group">
                <div class="col-md-12">
                    <h1 class="margin-bottom-15">Notes</h1>
                     <h2>{% trans "We are sorry, but the sign up is currently closed." %}</h2>
                </div>
            </div>
          </div>
    </div>
{% endblock %}


